@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" charset="UTF-8"/>
	<meta name="description" content="Register for an account on InkyBeta" />
	<title>@ViewBag.Title</title>
	@Scripts.Render("~/Scripts/jQuery")
	@Scripts.Render("~/Scripts/FormValidation")
	@Scripts.Render("~/Scripts/AngularJS")
</head>
<body>
<div id="Controller">

</div>
<div>
	@RenderBody()
</div>
</body>
</html>
